{{!-- index.handlebars --}}

<div class="jumbotron">
    <h1 class="display-1 text-white">Feast of Burgers!</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2>Burgers that are ready to be devoured!</h2>
            <ul class="list-group">
                {{#each burgers}}
                {{#unless this.devoured}}
                {{> burger-block devoured=false}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-lg-4">
            <h2>Burgers that have been devoured!</h2>
            <ul class="list-group">
                {{#each burgers}}
                {{#if this.devoured}}
                {{> burger-block devoured=true}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
        <div class="col-lg-4">
            <h2>Enter a burger you want to eat then Click the "Submit" button!</h2>
            <form>

                <div class="form-group">
                    <label for="newBurger">Enter the name of the burger.</label>
                    <textarea class="form-control" id="newBurger" rows="3"></textarea>
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>